.custom-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://ik.imagekit.io/w87y1vfrm/HOME/Carousel/Home_Image_5.webp");
    background-position: center;
    background-size: cover;
    height: 175px;
    width: 100%;
    font-family: "Anton", Arial, sans-serif;
    font-size: 64px;
    letter-spacing: 10px;
}

.profile_container .mb-3 {
    font-family: "Anton", Arial, sans-serif;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    font-size: 50px;
    color: #107039;
}
.profile_container .mb-2 {
    font-family: "Anton", Arial, sans-serif;
    font-size: 50px;
    color: #107039;
}
.profile_container p {
    font-size: 18px !important;
    max-width: 400px;
}
.green-bar {
    background-color: #107039;
    height: 20px; /* adjust thickness */
    width: 100%; /* full width */
}
.card img {
    border-radius: 0 !important;
}
.card {
    border-radius: 0 !important; /* Remove rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none; /* Remove underline from link */
    color: inherit; /* Keep text color */
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}
@media (max-width: 479px) {
    .profile_container .mb-3 {
        font-size: 2rem !important;
    }
    .profile_container .mb-2 {
        font-size: 2rem !important;
    }
}
