body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.custom-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://ik.imagekit.io/w87y1vfrm/HOME/Carousel/Home_Image_5.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 175px;
    width: 100%;
    font-family: "Anton", Arial, sans-serif;
    font-size: 64px;
    letter-spacing: 10px;
}

.card {
    border-radius: 0 !important;
}
.card img {
    border-radius: 0 !important;
    height: 450px;
}
.card h5 {
    font-family: "Lato", sans-serif !important;
    font-size: 40px !important;
    font-weight: bold;
    color: #107039;
}
.custom-btn {
    border-radius: 0 !important;
    font-family: "Baskervville SC", sans-serif !important;
    font-size: 22px !important;
}

/* Tablets: 577px–768px */
@media (min-width: 200px) and (max-width: 768px) {
    h2 {
        font-size: 1.8rem;
    }
    p,
    ul {
        font-size: 1rem;
    }
    .card img {
        height: 300px;
    }
}

/* Large phones: 480px–576px */
@media (min-width: 480px) and (max-width: 576px) {
    h2 {
        font-size: 1.6rem;
    }
    p,
    ul {
        font-size: 1rem;
    }

    .custom-bg {
        height: 175px; /* reduce banner height */
        font-size: 38px; /* smaller text */
        letter-spacing: 4px; /* less spacing */
    }

    .custom-bg h1 {
        font-size: 2rem; /* fine-tune the heading itself */
    }
    .card h5 {
        font-size: 40px !important;
    }
    .custom-btn {
        font-size: 18px !important;
    }
}

/* Small phones: ≤ 479px */
@media (max-width: 479px) {
    h2 {
        font-size: 1.4rem;
    }
    p,
    ul {
        font-size: 0.9 rem;
    }

    .custom-bg {
        height: 150px; /* reduce banner height */
        font-size: 36px; /* smaller text */
        letter-spacing: 4px; /* less spacing */
    }

    .custom-bg h1 {
        font-size: 1.8rem; /* fine-tune the heading itself */
    }
    .card h5 {
        font-size: 30px !important;
    }
    .custom-btn {
        font-size: 14px !important;
    }
    .navbar-brand {
        padding-top: -20px !important;
    }
    .navbar-brand img {
        height: 70px; /* smaller logo */
    }
    .brand-text {
        font-size: 22px; /* shrink text */
    }
    .navbar {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    .navbar-toggler {
        padding: 0.25rem 0.5rem;
    }
    .social-icon i {
        font-size: 16px; /* smaller icons */
    }
    .top-contact-bar span {
        font-size: 16px; /* smaller text */
    }
    .bi-telephone-fill {
        font-size: 16px; /* make the telephone icon smaller */
    }
    .custom-bg .ms-1 {
        font-size: 1.2rem;
        height: 80%;
    }
}
