/* --- General --- */
body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.header-title {
    font-weight: bold;
    background: black;
    color: white;
    padding: 15px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
}
.header-title.none {
    text-align: center;
}
.header-title.marquee span {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    animation: moveRight 60s linear infinite;
}
@keyframes moveRight {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

/* --- Main Event --- */
.main-image {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    position: relative;
}
.center-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* --- Previous Events --- */
.prev-title {
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
}
.prev-box {
    background-color: #202123;
    color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    max-width: 450px;
    margin: 0 auto;
}
.prev-box-txt {
    padding: 1px;
}
.row.prev-row {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}
.prev-box:hover {
    background: #474747;
}
.image-thumb {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}
.subtitle {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
.text-content {
    text-align: left;
    white-space: pre-line;
    margin-bottom: 10px;
}
.text-block {
    border-left: 4px solid #d9d9d9;
    padding-left: 10px;
    margin-bottom: 10px;
}

/* --- Responsive --- */
@media (max-width: 1200px) {
    .main-image {
        max-height: 400px;
    }
}
@media (max-width: 768px) {
    .main-image {
        max-height: 250px;
    }
    .subtitle {
        font-size: 16px;
    }
    .header-title.marquee span {
        animation-duration: 25s;
    }
}
@media (max-width: 576px) {
    .subtitle {
        font-size: 14px;
    }
    .prev-box {
        max-width: 100%;
    }
    .image-thumb {
        height: 120px;
    }
}

/* --- Custom Banner --- */
.custom-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://ik.imagekit.io/w87y1vfrm/HOME/Carousel/Home_Image_5.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 175px;
    width: 100%;
    font-family: "Anton", Arial, sans-serif;
    font-size: 64px;
    letter-spacing: 10px;
}
